.singleFood {
  width: 100%;
  max-width: 370px;
  margin: 18px auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s;
  height: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.singleFood:hover {
  transform: scale(1.007);
  cursor: pointer;
}

.singleFood img {
  width: 100%;
  height: auto;
}

.titlePrice {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.titlePrice > h3 {
  font-size: 16px;
}
.titlePrice > p {
  background-color: #ff9500;
  padding: 3px 7px;
  color: white;
  border-radius: 5px;
  transition: all 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.foodDesc {
  padding: 0 20px;
  font-size: 15px;
  font-weight: 300;
}
.link {
  text-align: right;
  padding-right: 30px;
  padding-top: 30px;
}
.link a {
  display: inline-block;
  text-decoration: none;
  color: #ff9500;
  font-weight: 500;
  font-size: 15px;
  position: relative;
}
.link a::after {
  content: "";
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #ff9500;
  transition: width 0.3s ease;
}
.link a:hover {
  color: #e68400;
}
.link a:hover::after {
  width: 100%;
}
.link a:active {
  transform: scale(0.98);
}
/* Responsive design */

@media (max-width: 768px) {
  .singleFood {
    max-width: 100%;
    height: auto;
    padding-bottom: 36px;
  }
}
