@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #deeff2;
  font-family: 'Poppins', sans-serif;
}

/* header start  */
.title > h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    color: #d47d03;
  }
  
  .title > div {
    height: 3px;
    width: 70px;
    margin: 15px auto 20px;
    background-color: #ff9500;
  }
  /* header end  */